<img class="top-background" src="/assets/space.png">

<div class="login-button">
  <div class="shadow"><div class="text-white text-center" style="font-size:35px; padding-left: 10px;">BlaBlaapp</div>
  </div>
</div>