<div class="top-background"></div>

<div class="top-rainbow">
  <div class="shadow"><div class="text-white text-center" style="font-size:35px; padding-left: 10px;">ChoPsycho</div>
  </div>
</div>

<div class="top-next row mx-0 text-center">
  <%= link_to root_path, class: "demo-button mx-auto" do %>
    <span class="front">click</span>
    <span class="center"></span>
    <span class="back">here</span>
  <% end %>
</div>