// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.top-background {
  height: 100%;
  width: 100%;
}

.login-button{
  font-family: Sans-Serif;
  position: absolute;
  top: 10px;
  left: 10px;
  background: #000;
  z-index: 2;
  .shadow {
    position: relative;
    width: 190px;
    height: 55px;
    background: linear-gradient(0deg,#000,#262626);
  }
  .shadow:before,
  .shadow:after{
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg,#fb0094,#0000ff,#00ff00,#ffff00,#ff0000,#fb0094,#0000ff,#00ff00,#ffff00,#ff0000);
    background-size: 400%;
    width: 194px;
    height: 59px;
    z-index: -1;
    animation:  animate 20s linear infinite;
  }
  .shadow:after{
    filter:blur(40px);
  }
  @keyframes animate{
    0%{
      background-position: 0 0 ;
    }
    50%{
      background-position: 300% 0 ;
    }
    100%{
      background-position: 0 0 ;
    }
  }
}