// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.top-background {
  background-image: url(top.png);
  background-size: cover;
  height: 800px;
  width: 1200px;
}

.top-rainbow{
  font-family: Sans-Serif;
  position: absolute;
  top: 20px;
  left: 20px;
  background: #000;
  z-index: 2;
  .shadow {
    position: relative;
    width: 190px;
    height: 55px;
    background: linear-gradient(0deg,#000,#262626);
  }
  .shadow:before,
  .shadow:after{
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg,#fb0094,#0000ff,#00ff00,#ffff00,#ff0000,#fb0094,#0000ff,#00ff00,#ffff00,#ff0000);
    background-size: 400%;
    width: 194px;
    height: 59px;
    z-index: -1;
    animation:  animate 20s linear infinite;
  }
  .shadow:after{
    filter:blur(40px);
  }
  @keyframes animate{
    0%{
      background-position: 0 0 ;
    }
    50%{
      background-position: 300% 0 ;
    }
    100%{
      background-position: 0 0 ;
    }
  }
}

.top-next {
  font-family: Sans-Serif;
  height: 60px;
  width: 190px;
  position: absolute;
  top: 75%;
  left: calc(50% - 95px);

  a {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 185px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-origin: center center;
    transform-origin: center center;
  }

  span {
    position: absolute;
    display: block;
    text-align: center;
    line-height: 60px;
    font-size: 26px;
    background: rgba(255, 255, 255, 0.05);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 30px;
    text-transform: uppercase;
    color: #fff;
    transition: 1s;
    padding: 0px 50px;
  }
  span.front{
    transform: rotateX(0deg) translateZ(20px);
  }
  a:hover > span.front{
    transform: rotateX(-180deg) translateZ(20px);
  }
  span.back{
    transform: rotateX(180deg) translateZ(20px);
  }
  a:hover > span.back{
    transform: rotateX(0deg) translateZ(20px);
  }
  span.center{
    background: linear-gradient(to left ,#c31a5b, #7129bd);
    height: 60px;
    width: 85px;
  }

  span.center:before{
    position: absolute;
    left: 0px;
    height: 60px;
    width: 185px;
    content: '';
    background: linear-gradient(to left ,#ffdd1f, #c31a5b);
    border-radius: 30px;
    transform:translateZ(-1px);
  }

  a:hover > span.center {
    transform: rotateX(-180deg) translateZ(20px);
  }
}
